$theme-map: () !default;
$theme-map: map-merge((
  effectLayer1: $z-theme-effectLayer1,
  effectLayer2: $z-theme-effectLayer2,
  effectLayer3: $z-theme-effectLayer3,
  effectLayer4: $z-theme-effectLayer4,
  effectLayer5: $z-theme-effectLayer5,
  effectRadius1: $z-theme-effectRadius1,
  effectRadius2: $z-theme-effectRadius2,
  effectRadius3: $z-theme-effectRadius3,
  fontBase: $z-theme-fontBase,
  fontCode: $z-theme-fontCode,
  fontHeadings: $z-theme-fontHeadings,
  fontLabels: $z-theme-fontLabels,
  fontQuotes: $z-theme-fontQuotes,
  paletteAccent: $z-theme-paletteAccent,
  paletteAccentDark: $z-theme-paletteAccentDark,
  paletteAccentDarker: $z-theme-paletteAccentDarker,
  paletteAccentDarkest: $z-theme-paletteAccentDarkest,
  paletteAccentMidnight: $z-theme-paletteAccentMidnight,
  paletteAccentLight: $z-theme-paletteAccentLight,
  paletteAccentLighter: $z-theme-paletteAccentLighter,
  paletteAccentLightest: $z-theme-paletteAccentLightest,
  paletteAccentPastel: $z-theme-paletteAccentPastel,
  paletteBlack: $z-theme-paletteBlack,
  paletteBlue: $z-theme-paletteBlue,
  paletteBlueDark: $z-theme-paletteBlueDark,
  paletteBlueLight: $z-theme-paletteBlueLight,
  paletteGreen: $z-theme-paletteGreen,
  paletteGreenDark: $z-theme-paletteGreenDark,
  paletteGreenLight: $z-theme-paletteGreenLight,
  paletteNeutral: $z-theme-paletteNeutral,
  paletteNeutralDark: $z-theme-paletteNeutralDark,
  paletteNeutralDarker: $z-theme-paletteNeutralDarker,
  paletteNeutralDarkest: $z-theme-paletteNeutralDarkest,
  paletteNeutralMidnight: $z-theme-paletteNeutralMidnight,
  paletteNeutralLight: $z-theme-paletteNeutralLight,
  paletteNeutralLighter: $z-theme-paletteNeutralLighter,
  paletteNeutralLightest: $z-theme-paletteNeutralLightest,
  paletteNeutralPastel: $z-theme-paletteNeutralPastel,
  palettePrimary: $z-theme-palettePrimary,
  palettePrimaryDark: $z-theme-palettePrimaryDark,
  palettePrimaryDarker: $z-theme-palettePrimaryDarker,
  palettePrimaryDarkest: $z-theme-palettePrimaryDarkest,
  palettePrimaryMidnight: $z-theme-palettePrimaryMidnight,
  palettePrimaryLight: $z-theme-palettePrimaryLight,
  palettePrimaryLighter: $z-theme-palettePrimaryLighter,
  palettePrimaryLightest: $z-theme-palettePrimaryLightest,
  palettePrimaryPastel: $z-theme-palettePrimaryPastel,
  paletteRed: $z-theme-paletteRed,
  paletteRedDark: $z-theme-paletteRedDark,
  paletteRedLight: $z-theme-paletteRedLight,
  paletteWhite: $z-theme-paletteWhite,
  paletteYellow: $z-theme-paletteYellow,
  paletteYellowDark: $z-theme-paletteYellowDark,
  paletteYellowLight: $z-theme-paletteYellowLight,
  slotBg: $z-theme-slotBg,
  slotBgCatchy: $z-theme-slotBgCatchy,
  slotBgChosen: $z-theme-slotBgChosen,
  slotBgFocused: $z-theme-slotBgFocused,
  slotBorder: $z-theme-slotBorder,
  slotBorderDisabled: $z-theme-slotBorderDisabled,
  slotButtonBg: $z-theme-slotButtonBg,
  slotButtonBgActive: $z-theme-slotButtonBgActive,
  slotButtonBgDisabled: $z-theme-slotButtonBgDisabled,
  slotButtonBgFocused: $z-theme-slotButtonBgFocused,
  slotButtonBorder: $z-theme-slotButtonBorder,
  slotButtonText: $z-theme-slotButtonText,
  slotButtonTextActive: $z-theme-slotButtonTextActive,
  slotButtonTextDisabled: $z-theme-slotButtonTextDisabled,
  slotButtonTextFocused: $z-theme-slotButtonTextFocused,
  slotDivider: $z-theme-slotDivider,
  slotErrorBg: $z-theme-slotErrorBg,
  slotErrorIcon: $z-theme-slotErrorIcon,
  slotErrorText: $z-theme-slotErrorText,
  slotFrame: $z-theme-slotFrame,
  slotInfoBg: $z-theme-slotInfoBg,
  slotInfoIcon: $z-theme-slotInfoIcon,
  slotInfoText: $z-theme-slotInfoText,
  slotInputBg: $z-theme-slotInputBg,
  slotInputBgChosen: $z-theme-slotInputBgChosen,
  slotInputBgDisabled: $z-theme-slotInputBgDisabled,
  slotInputBorder: $z-theme-slotInputBorder,
  slotInputBorderChosen: $z-theme-slotInputBorderChosen,
  slotInputBorderDisabled: $z-theme-slotInputBorderDisabled,
  slotInputBorderFocused: $z-theme-slotInputBorderFocused,
  slotInputIcon: $z-theme-slotInputIcon,
  slotInputIconDisabled: $z-theme-slotInputIconDisabled,
  slotInputIconFocused: $z-theme-slotInputIconFocused,
  slotInputText: $z-theme-slotInputText,
  slotInputTextChosen: $z-theme-slotInputTextChosen,
  slotInputTextDisabled: $z-theme-slotInputTextDisabled,
  slotLink: $z-theme-slotLink,
  slotLinkFocused: $z-theme-slotLinkFocused,
  slotPrimaryButtonBg: $z-theme-slotPrimaryButtonBg,
  slotPrimaryButtonBgActive: $z-theme-slotPrimaryButtonBgActive,
  slotPrimaryButtonBgDisabled: $z-theme-slotPrimaryButtonBgDisabled,
  slotPrimaryButtonBgFocused: $z-theme-slotPrimaryButtonBgFocused,
  slotPrimaryButtonBorder: $z-theme-slotPrimaryButtonBorder,
  slotPrimaryButtonText: $z-theme-slotPrimaryButtonText,
  slotPrimaryButtonTextActive: $z-theme-slotPrimaryButtonTextActive,
  slotPrimaryButtonTextDisabled: $z-theme-slotPrimaryButtonTextDisabled,
  slotPrimaryButtonTextFocused: $z-theme-slotPrimaryButtonTextFocused,
  slotSubtext: $z-theme-slotSubtext,
  slotSubtextDisabled: $z-theme-slotSubtextDisabled,
  slotSuccessBg: $z-theme-slotSuccessBg,
  slotSuccessIcon: $z-theme-slotSuccessIcon,
  slotSuccessText: $z-theme-slotSuccessText,
  slotText: $z-theme-slotText,
  slotTextDisabled: $z-theme-slotTextDisabled,
  slotWarnBg: $z-theme-slotWarnBg,
  slotWarnIcon: $z-theme-slotWarnIcon,
  slotWarnText: $z-theme-slotWarnText,
  slotButtonBorderActive: $z-theme-slotButtonBorderActive,
  slotButtonBorderDisabled: $z-theme-slotButtonBorderDisabled,
  slotPrimaryButtonBorderActive: $z-theme-slotPrimaryButtonBorderActive,
  slotPrimaryButtonBorderDisabled: $z-theme-slotPrimaryButtonBorderDisabled,
  spacingLg: $z-theme-spacingLg,
  spacingMd: $z-theme-spacingMd,
  spacingSm: $z-theme-spacingSm,
  spacingXs: $z-theme-spacingXs,
  spacingXl: $z-theme-spacingXl,
  spacingXxl: $z-theme-spacingXxl,
), $var-map);
